@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto:wght@100;300;500;700&display=swap");
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  height: 10000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Start Global Rules */
/* Start global classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: 0px auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.main-title::before, .main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  -webkit-animation: left-move 0.5s linear forwards;
          animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  -webkit-animation: right-move 0.5s linear forwards;
          animation: right-move 0.5s linear forwards;
}

/* End global classes */
/* Start Header */
header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}

header .container .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  header .container .main-nav {
    margin: auto;
  }
}

header .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

header .container .main-nav > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

header .container .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

header .container .main-nav > li > a:hover::before {
  left: 0;
}

@media (max-width: 767px) {
  header .container .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

header .container .main-nav .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  transition: top var(--main-transition), opacity var(--main-transition);
  opacity: 0;
}

@media (max-width: 767px) {
  header .container .main-nav .mega-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

header .container .main-nav .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  header .container .main-nav .mega-menu .image {
    display: none;
  }
}

header .container .main-nav .mega-menu .links {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .container .main-nav .mega-menu .links li {
  position: relative;
}

header .container .main-nav .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

header .container .main-nav .mega-menu .links li a svg {
  margin-right: 10px;
}

header .container .main-nav .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

header .container .main-nav .mega-menu .links li:hover::before {
  content: "";
  width: 100%;
}

header .container .main-nav .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  header .container .main-nav .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

/* End Header */
/* Start landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}

.landing .container .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing .container .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -3px;
}

@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
    letter-spacing: -1px;
  }
}

.landing .container .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .image img {
  position: relative;
  width: 600px;
  -webkit-animation: up-to-down 5s linear infinite;
          animation: up-to-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}

.landing .go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down svg {
  -webkit-animation: bouncing 1.5s infinite;
          animation: bouncing 1.5s infinite;
}

/* End landing */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container article {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: -webkit-transform var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: -webkit-transform var(--main-transition), -webkit-box-shadow var(--main-transition);
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  transition: transform var(--main-transition), box-shadow var(--main-transition), -webkit-transform var(--main-transition), -webkit-box-shadow var(--main-transition);
}

.articles .container article:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.articles .container article img {
  width: 100%;
  max-width: 100%;
}

.articles .container article .content {
  padding: 20px;
}

.articles .container article .content h3 {
  margin: 0;
}

.articles .container article .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .container article .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .container article .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .container article .info svg {
  color: var(--main-color);
}

.articles .container article:hover .info svg {
  -webkit-animation: moving-arrow 0.6s linear infinite;
          animation: moving-arrow 0.6s linear infinite;
}

/* End Articles */
/* Start Animation */
@-webkit-keyframes up-to-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes up-to-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@-webkit-keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%,
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%,
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@-webkit-keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@-webkit-keyframes moving-arrow {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes moving-arrow {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

/* end Animation */
/*# sourceMappingURL=app.css.map */